body{
  background-color: rgba(128, 128, 128, 0.075);
  width: 100%;
}

/* NavBar */
#menuId{
  background-color: rgb(38, 156, 38);
}

#loginButton{
  position: absolute;
  right: 25px;
  top: 25px;
}

#menuContainer{
  text-align: center;
  margin-bottom: 50px;
}

#menuButton{
  position: absolute;
  left: 20px;
  top: 25px;
}

#menuHeader{
  font-family: 'Comfortaa', 'cursive';
}

#link{
  text-decoration: none;
  color: black;
}







/* Home Page */
#card{
  text-align: left;
  display: inline-block;
  margin: 25px 75px 25px 75px;
  border: 1px black solid;
}

#homeContainer{
  text-align: center;
}

#buyButton{
  color: black;
  background-color: rgba(25, 190, 25, 0.795);
}

#countdown{
  background-color: rgba(0, 0, 0, 0.877);
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  margin: 5px 0 5px 0;
  color: white;
}

#progressBar{
  height: 15px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
}

#joinedContainer{
  margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
  #card{
    text-align: left;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    border: 1px black solid;
  }
}

@media only screen and (max-width: 920px) {
  #card{
    text-align: left;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    border: 1px black solid;
  }
}

@media only screen and (max-width: 600px) {
  #card{
    text-align: left;
    display: inline-block;
    border: 1px black solid;
  }

  #loginButton{
    position: absolute;
    right: 0px;
    top: 25px;
  }

  #menuButton{
    position: absolute;
    left: 0px;
    top: 25px;
  }
}