body{
  background-color: rgba(128, 128, 128, 0.075);
  width: 100%;
}

/* NavBar */
#menuId{
  background-color: rgb(38, 156, 38);
}

#loginButton{
  position: absolute;
  right: 25px;
  top: 25px;
}

#menuContainer{
  text-align: center;
  margin-bottom: 50px;
}

#menuButton{
  position: absolute;
  left: 20px;
  top: 25px;
}

#menuHeader{
  font-family: 'Comfortaa', 'cursive';
}

#link{
  text-decoration: none;
  color: black;
}







/* Home Page */
#card{
  text-align: left;
  display: inline-block;
  margin: 25px 75px 25px 75px;
  border: 1px black solid;
}

#paper{
  width: 100%;
  height: 50px;
  margin: 6px auto;
  border: 1px solid black;
}

#active{
  width: 100%;
  height: 50px;
  margin: 6px auto;
  border: 1px solid black;
  background-color: rgb(32, 175, 32);
}

#homeContainer{
  text-align: center;
}

#buyButton{
  color: black;
  background-color: rgba(25, 190, 25, 0.795);
}

#countdown{
  background-color: rgba(0, 0, 0, 0.877);
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  margin: 5px 0 5px 0;
  color: white;
}

#progressBar{
  height: 15px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
}

#joinedContainer{
  margin-top: 15px;
}

#price{
  text-decoration: line-through;
}

#left{
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

#right{
  margin-left: 10%;
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

#discountContainer{
  width: 33%;
  display: inline-block;
  text-align: center;
}

#discountPrice{
  font-size: 25px;
}

#discountPercent{
  font-size: 12px;
}

#discountRemaining{
  font-size: 12px;
}

#active{
  background-color: rgb(6, 214, 6);
  border: 1px solid black;
  margin-bottom: 5px;
  height: 50px;
}

#joinButton{
  background-color: rgb(6, 214, 6);
  margin-top: 20px
}

@media only screen and (max-width: 1000px) {
  #card{
    text-align: left;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    border: 1px black solid;
  }
}

@media only screen and (max-width: 920px) {
  #card{
    text-align: left;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    border: 1px black solid;
  }
}

@media only screen and (max-width: 600px) {
  #card{
    text-align: left;
    display: inline-block;
    border: 1px black solid;
  }

  #loginButton{
    position: absolute;
    right: 0px;
    top: 25px;
  }

  #menuButton{
    position: absolute;
    left: 0px;
    top: 25px;
  }
}






/* Profile Page */
#profileHeader{
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
}

#profileImage{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 30px auto;
  background-color: rgba(128, 128, 128, 0.308);
}

#profileEditButton{
  background-color: rgba(70, 165, 255, 0.842);
}

#saveButton{
  background-color: rgba(70, 165, 255, 0.842);
}

#profileBody{
  margin: 50px auto;
  padding: 20px;
  width: 90%;
}

#innerBodyContainer{
  width: 30%;
  margin: auto;
}

#text{
  color: grey;
}